# Virtual Environments
keri-env/
.env
venv/
env/

# Python compiled files
__pycache__/
*.py[cod]

# IDE settings (optional but recommended)
.vscode/
.idea/

.gitignore
.env
.keri-env/
.venv/
.env/

.gitignore
blockchain_anchor_drone_sensor_1.json
current_db_path_drone_sensor_1.txt